<div>
  <link href="./navigation-links.css" rel="stylesheet" />
  <nav class="navigation-links-nav">
    <a href="index.html" class="navigation-links-navlink"><span>Home</span></a>
    <a href="rules.html" class="navigation-links-navlink1">
      <span>Rules</span>
    </a>
    <a href="socials.html" class="navigation-links-navlink2">
      <span>Socials</span>
    </a>
    <a href="attribution-credits.html" class="navigation-links-navlink3">
      <span>Attributions/Credits</span>
    </a>
  </nav>
</div>
